@charset "utf-8";

@font-face {
    font-family: 'Gidole';
    src: url(Fonts/gidole-regular-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Gidole';
	font-style: Italic;
	src: url(Fonts/HOTOLRG_.woff2) format('woff2');
}

html, body {
	margin: 0;
	padding: 0;
	background: url(/Graphics/OC%20Header%20BG.jpg) no-repeat center center fixed, #000000; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	font-family: Gidole;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.33);
	color: #FFFFFF;
}

p {
	margin-top: 0;
	margin: 2vh;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	background: url(Graphics/OC%20Game%20BG.jpg) no-repeat center center fixed, #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	z-index: 99999;
	height: 100%;
	width: 100%;
}

.modalcontent {
	position: absolute;
	height: relative;
	top: 50%;
	left: 50%;
	font-size: 1.75vw;
	padding: 2.5vw;
	padding-top: 1.75vh;
	padding-bottom: 0.5vh;
	transform: translate(-50%, -50%);
	color: #1D3C4C;
	background: radial-gradient(rgba(175,220,250,.75) 0%, rgba(150, 200, 250, 0.65) 100%);
	border-radius: 2.5vh;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0px 0px 10px 5px rgba(75, 125, 200, 0.5), 0px 1.5px 5px 0px rgba(0, 0, 0, 0.5);
}

.responsive {
	width: auto;
	height: 10vw;
	margin-bottom: 0;
}

.playarea {
	max-width: calc(100vh * 1.7778);
	position: relative;
	left: 50%;
	transform: translateX(-50%)
}

.wall {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px 10px;
	padding: 10px;
}
.wall.player {
	box-sizing: border-box;
	width: 100%;
	transition: width 1s ease;
}
.wall.editor {
	grid-template-columns: repeat(4, 1fr) 2fr;
}
.wall.links {
	grid-template-columns: 1fr;
}
@media screen and (orientation:landscape) {
	.wall.player.won {
		width: 66%;
	}
	.wall.links {
		box-sizing: border-box;
		width: 33%;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.wall > div {
	position: relative;
}
.wall.player .brick,
.wall.links .link {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.wall.player .brick {
	position: relative;
	top: 0;
	left: 0;
	transition: top 1s ease, left 1s ease;
}

.brick {
	border-radius: 1.5vh;
	color: #1D3C4C;
	background: radial-gradient(circle, rgba(164,210,242,.75) 0%, rgba(105,172,223,.75) 100%);
	box-shadow: inset 0px 0px 2vh 1vh rgba(75, 125, 200, .75), 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}

.brick.group0 {
	color: #FFFFFF;
	background: radial-gradient(circle, rgba(1,56,113,.75) 0%, rgba(0,45,91,.75) 100%);
	box-shadow: inset 0px 0px 2vh 1vh rgba(0,25,70,.5), 0px 1.5px 5px 0px rgba(0, 0, 0, 0.25);
}
.brick.group1 {
	color: #FFFFFF;
	background: radial-gradient(circle, rgba(17,153,75,.75) 0%, rgba(21,95,50,.75) 100%);
	box-shadow: inset 0px 0px 1.5vh 1vh rgba(12,59,51,.5), 0px 1.5px 5px 0px rgba(0, 0, 0, 0.25);
}
.brick.group2 {
	color: #FFFFFF;
	background: radial-gradient(circle, rgba(175,29,50,.75) 0%, rgba(100,24,25,.75) 100%);
	box-shadow: inset 0px 0px 1vh .5vh rgba(64,20,0,.5), 0px 1.5px 5px 0px rgba(0, 0, 0, 0.25);
}
.brick.group3 {
	color: #FFFFFF;
	background: radial-gradient(rgba(42,125,200,.75) 0%, rgba(20,75,150,.75) 100%);
	box-shadow: inset 0px 0px 1vh .5vh rgba(14,49,50,.5), 0px 1.5px 5px 0px rgba(0, 0, 0, 0.25);
}

.link.group0 {
	border: 2px solid rgba(0,45,91,1);
	border-radius: 1.5vh;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2vh 1vh rgba(0, 0, 0, 0.125);
}
.link.group1 {
	border: 2px solid rgba(21,95,75,1);
	border-radius: 1.5vh;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2vh 1vh rgba(0, 0, 0, 0.125);
}
.link.group2 {
	border: 2px solid rgba(83,24,46,1);
	border-radius: 1.5vh;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2vh 1vh rgba(0, 0, 0, 0.125);
}
.link.group3 {
	border: 2px solid rgba(20,63,132,1);
	border-radius: 1.5vh;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2vh 1vh rgba(0, 0, 0, 0.125);
}
.link .hidden {
	font-style: Italic;
}

.wall.editor input {
    font-size: 3.5vh;
	box-sizing: border-box;
	width: 100%;
	padding: 2.5vh;
	background: transparent;
	border: none;
	outline: none;
	text-align: center;
	color:#FFFFFF;
}
input[type=button] {
	font-size: 15px;
	margin: 20px;
	padding: 10px 20px;
	background: #FFFFFF;
	border-radius: 5px;
	outline: none;
}
textarea {
	font-size: 1.75vw;
	margin: 0.1vw;
	width: 75vw;
	height: 15vh;
	outline: none;
    border: 2px solid rgba(164,210,242,1);
	border-radius: 1.5vh;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2vh 1vh rgba(0, 0, 0, 0.125);
}
