@charset "utf-8";

@font-face {
    font-family: 'Gidole';
    src: url(https://saozneg.github.io/gidole-regular-webfont.woff2) format('woff2');
}

html, body {
	margin: 0;
	padding: 0;
	background: url(Graphics/OC%20Game%20BG.jpg) no-repeat center center fixed, #000000; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;

	font-family: Gidole;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.33);
	color: #FFFFFF;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	background: url(/Graphics/OC%20Header%20BG.jpg) no-repeat center center fixed, #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	z-index: 99999;
	height: 100%;
	width: 100%;
}

.modalcontent {
	position: absolute;
	height: relative;
	top: 50%;
	left: 50%;
	font-size: calc(100vh * 0.04);
	padding: 25px;
	padding-top: 5px;
	padding-bottom: 7.5px;
	transform: translate(-50%, -50%);
	color: #1D3C4C;
	background: rgba(145, 195, 228, 0.85);
	border-radius: 5px;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 5px 25px 7.5px rgba(0, 0, 0, .5);
}

.responsive {
	width: auto;
	height: calc(100vh * 0.2);
}

.playarea {
	max-width: calc(100vh * 1.7778);
	position: relative;
	left: 50%;
	transform: translateX(-50%)
}

.wall {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px 10px;
	padding: 10px;
}
.wall.player {
	box-sizing: border-box;
	width: 100%;
	transition: width 1s ease;
}
.wall.editor {
	grid-template-columns: repeat(4, 1fr) 2fr;
}
.wall.links {
	grid-template-columns: 1fr;
}
@media screen and (orientation:landscape) {
	.wall.player.won {
		width: 66%;
	}
	.wall.links {
		box-sizing: border-box;
		width: 33%;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.wall > div {
	position: relative;
}
.wall.player .brick,
.wall.links .link {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.wall.player .brick {
	position: relative;
	top: 0;
	left: 0;
	transition: top 1s ease, left 1s ease;
}

.brick {
	border-radius: 5px;
	color: #1D3C4C;
	background: rgba(145, 195, 228, 0.925);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}

.brick.group0 {
	color: #FFFFFF;
	background: rgba(5, 72, 114, 0.925);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.brick.group1 {
	color: #FFFFFF;
	background: rgba(9, 123, 90, 0.925);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.brick.group2 {
	color: #FFFFFF;
	background: rgba(87, 33, 67, 0.925);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.brick.group3 {
	color: #FFFFFF;
	background: rgba(5, 111, 124, 0.925);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}

.link.group0 {
	border: 2px solid #054872;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.link.group1 {
	border: 2px solid #097B5A;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.link.group2 {
	border: 2px solid #572143;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.link.group3 {
	border: 2px solid #056F7C;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1.5px 5px 0px rgba(0, 0, 0, 0.125);
}
.link .hidden {
	font-style: italic;
}

.wall.editor input {
	box-sizing: border-box;
	width:100%;
	padding:10px;
	background: transparent;
	border: none;
	outline: none;
	text-align: center;
	color:#FFFFFF;
}
input[type=button] {
	font-size: 15px;
	margin: 20px;
	padding: 10px 20px;
	background: #FFFFFF;
	border-radius: 5px;
	outline: none;
}
textarea {
	margin: 10px;
	width: 800px;
	height: 100px;
	outline: none;
}
